{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Clustify - MySQL Clusters as a Service{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if session['token'] %}
  <script>
    function copyText(url) {
        navigator.clipboard.writeText(url);
    }
  </script>

  {% if clusters|length > 0 %}
  <a href="{{ url_for('clusters.create') }}" class="bigfakebtn" style="width:auto; float: right;" value="Create cluster"> Create cluster</a>
  <clusters>
   {% for cluster in clusters %}
   {% if cluster['properties']['system']['event'] == 'soft-deleted' %}
   <clusterbox style="background:#ccc;">
  {% else %}
  <clusterbox>
  {% endif %}
  {% if cluster['properties']['system']['event'] == 'soft-deleted' %}
  <clusterheader style="background:#aaa;">
 {% else %}
 <clusterheader>
 {% endif %}
      <h4>{{ cluster['properties']['cluster_name'] }}</h4>
      {{ cluster['properties']['status'] }}
     </clusterheader>
     <clusterdetails>
        <detail><listkey>Last updated:</listkey> <listval>{{ cluster['properties']['system']['updated'] }}</listval></detail>
        <detail><listkey>Last event:</listkey> <listval>{{ cluster['properties']['system']['event'] }}</listval></detail>
        <detail><listkey>ARN:</listkey> <listval>{{ cluster['properties']['ARN'] }}</listval></detail>
        <detail><listkey>Endpoint:</listkey> <listval>{{ cluster['properties']['Endpoint'] }}</listval></detail>
        <form action="{{ url_for('clusters.delete', id=cluster['id']) }}" method="post">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
     </clusterdetails>
    </clusterbox>
   {% endfor %}
  </clusters>
  {% else %}
  <a href="{{ url_for('clusters.create') }}" class="bigfakebtn" value="Create cluster"> Create cluster</a>
  {% endif %}

{% else %}
<a href="{{ url_for('auth.signup') }}" class="bigfakebtn">Signup</a>
<a href="{{ url_for('auth.login') }}" class="bigfakebtn">Login</a>
{% endif %}
{% endblock %}