{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to our MySQL Control Plane{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if session['token'] %}
  <script>
    function copyText(url) {
        navigator.clipboard.writeText(url);
    }
  </script>

  {% if orgs|length > 1 %}
  <form method="POST">
    <label for="select_org">Select Organization:</label>
      <select name="select_org" id="select_org">
        {% for org in orgs %}
          <option value="{{ org['id'] }}" {% if org['id']|string == current_org %} selected="selected"{% endif %}>{{ org['org_name'] }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Switch Project">
  </form>
  {% else %}
    <p></p>
    You are currently working in organization: {{ orgs[0]['name'] }}
    <p></p>
  {% endif %}

  Invite a coworker to manage clusters: 
  <a href="#" onclick="javascript:copyText('{{ url_for('auth.invite', invite_code=code, _external=True)|safe }}');"> click to copy invite link to clipboard</a>
  <p></p>
  <header>
  <h1>MySQL Clusters</h1>
  <a class="action" href="{{ url_for('clusters.create') }}">New</a>
  </header>

  <table>
      <!--id, task_name, status, created, due_date-->
  <tr>
      <th>updated</th>
      <th>last_event</th>
      <th>cluster name</th>
      <th>status</th>
      <th>ARN</th>
      <th>endpoint</th>
      <th>delete</th>
  </tr>
    {% for cluster in clusters %}
    <tr>
        <td>{{ cluster['properties']['system']['updated'] }}</td>
        <td>{{ cluster['properties']['system']['event'] }}</td>
        <td>{{ cluster['properties']['cluster_name'] }}</td>
        <td>{{ cluster['properties']['status'] }}</td>
        <td>{{ cluster['properties']['ARN'] }}</td>
        <td>{{ cluster['properties']['Endpoint'] }}</td>
        <td>   <form action="{{ url_for('clusters.delete', id=cluster['id']) }}" method="post">
          <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p></p>
  <a href="{{ url_for('auth.signup') }}">Register</a> or <a href="{{ url_for('auth.login') }}">Log In</a> to start managing MySQL Clusters.
{% endif %}
{% endblock %}